<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
</head>

<body>

  <h2>Para continuar, efetue o login.</h2>
  <form method="POST">
     <input id="userNameF" type="text" name="login" placeholder="Name" required="required">
     <input id="userPasswordF" type="password" class="form-control" name="password" placeholder="Password"> 
     <input type="submit" value="Login"></input>
  </form>
 <!--  <script src="main.js"></script> -->
</body>
</html>